 ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  //--background: url('../../assets/img/boy.png') 0 0px/50% 50% repeat #f7de56;
} 

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #000;
  background: #f7de56;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
    